@charset "UTF-8";

html {
  font-size: 100%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  /* line-height: 1.7; */
  background-color: #fafafa;
  color: #333333;
}


main {
  /* display: block; */
  width: 600px;
  margin: 0 auto;
}